**/*/.ai
*.pbxproj
*.xcuserstate
*.plist
firstapp/firstapp.xcworkspace/xcuserdata/ryofuj.xcuserdatad/UserInterfaceState.xcuserstate
firstapp/firstapp.xcodeproj/project.xcworkspace/xcuserdata/ryofuj.xcuserdatad/UserInterfaceState.xcuserstate
