@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

@font-face {
    font-family: bookish;
    src: url(/static/fonts/bookish-off-white-regular.ttf);
}

body {
    font-size: 20px; 
    color: black;
    font-family: 'IBM Plex Sans Medium';
    text-align: center; 
    line-height: 1.3;
    background-color: rgb(232, 232, 232);

}
header{
    background-color: rgb(255, 107, 107);
    height: 3rem;
}
.homeLink{
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-top: 10px;
    font-size: 25px;
    color: black;
}
main{
    background-color: rgb(168, 255, 168);
    height: auto;
    overflow: auto;
}
.button{
    background-color: #affffa;
    color: gray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 15%;
    height: auto;
}
.horizontaldivider{
    height:40vh;
    display: flex;
    box-shadow: 3px dotted black;
}
.bringthatShitintheMiddle{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50%;
    padding-top: 50%;
}
.eightyfivepercent{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 90vh;
    overflow: auto;
    background-color: white;
    /* margin-inline: auto; */
    /* display: flex; */
}

.mainCategory{
    font-size: 50px;
    color: rgb(230, 230, 230);
    transition: 0.2s;
    text-align: left;
}
.mainCategory img{
    opacity: 0%;
    transition: 0.2s;
}
.mainCategory:hover{
    color: black;
}
.mainCategory:hover img{
    opacity: 100%;
}
.menuPicture{
    width: 40px;
    height: 40px;
    transition: .2;  
    object-fit: cover;
    display: inline;
}
.mainPictures{
    /* background-color: green; */
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    overflow: auto;
}
.horizontalScroll{
    width: max-content;
    height: 70vh;
    overflow-y: hidden;
    overflow-x: hidden;
}
.pictures{
    width: 70px;
    height: 70vh;
    transition: .4s;  
    object-fit: cover;
    z-index: -1;
    
}
.spoop {
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.6);
}
.pictures:hover{
    opacity: 0.3;
}
.leftHalf{
    width: 50%;
    position: left;
    background-color: rgba(197, 49, 255, 0.502);
}
.rightHalf{
    width: 50%;
    position: right;
    background-color: rgba(251, 255, 0, 0.543);

}
footer{
    background-color: black;
    color: white ;
    width: 100%;
    height: 15vh;
    position: fixed;
    bottom: 0;
    font-size: 15px;
}
.end{
    background-color:gray;
}