@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.5fr 0.1fr;
    grid-template-areas: 
        "main main"
        "content1 content2"
        "content3 content4"
        "footer footer";
    /* grid-gap: 0.2rem; */
    line-height: 1;
}

main{
    /* background:rgb(224, 255, 165); */
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
}
main a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px 40px;
    border: 1px solid rgb(100,100,100);
    border-radius: 7px;
    box-shadow: 0px 0px 15px rgb(100,100,100);
    transition: 0.3s;
}
main a:hover{
    font-size: 25px;
    color: rgb(106, 106, 106);
    padding: 10px 125px;
    border: 1px solid rgb(157, 157, 157);
    box-shadow: 0px 0px 15px rgb(157, 157, 157);
}
#content1{
    /* background: rgb(165, 255, 225); */
    grid-area: content1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content2{
    /* background: rgb(165, 219, 255); */
    grid-area: content2;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content2 a{
    text-decoration: none;
    font-size: 70px;
    color: black;
    padding: 55px;
    /* border: 1px solid rgb(100,100,100); */
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(100,100,100, 0.3);
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.5);
}
#content2 a:hover{
    font-size: 73px;
    color: rgb(186, 186, 186);
    /* border: 1px solid rgb(157, 157, 157); */
    /* box-shadow: 0px 0px 15px rgb(157, 157, 157); */
}
#content3{
    /* background: rgb(214, 165, 255); */
    grid-area:content3;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content4{
    /* background: rgb(255, 165, 177); */
    grid-area:content4;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background: rgb(187, 206, 154);
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:650px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1.5fr 1.5fr 1.5fr 1.5fr 0.2fr;
        grid-template-areas: 
            "main"
            "content1"
            "content2"
            "content3"
            "content4"
            "footer";
        grid-gap: 0.2rem;
    }
    #content2 a{
        font-size: 50px;
        padding: 25px 25px 15px 25px;
        border: 1px solid rgb(100,100,100, 0);
        box-shadow: 0px 0px 15px rgb(100,100,100);
        transition: 0.3s;
        background: rgba(255, 255, 255, 0.5);
    }
}   